---
layout: page
title: Frequently Asked Questions (test 17)
pageHeading: Frequently Asked Questions
permalink: /faqs.html
---

<!-- ======= Tags to Block Caching (for test purposes) ======= -->

<meta http-equiv='cache-control' content='no-cache'> 
<meta http-equiv='expires' content='0'> 
<meta http-equiv='pragma' content='no-cache'>

<main id="main">


<!-- sort by filename to control sequencing of FAQ list -->
{% assign sorted_array = site.faqs | sort %}

  <!-- ======= Frequently Asked Questions Section ======= -->
  <section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">
      <div class="faq-list faq-list-lg">
        <ul>
            <!-- test 17 -->
            {% for faq in sorted_array %}
          <li data-aos="fade-up">
            <em class="bx bx-help-circle icon-help"></em> <a data-toggle="collapse" class={% if forloop.index == 1 %}"collapse"{% else %}"collapsed"{% endif %}
              href="#faq-list-{{ forloop.index }}">{{faq.question}} -- Index: {{ forloop.index }} <em class="bx bx-chevron-down icon-show"></em><em
                class="bx bx-chevron-up icon-close"></em></a>
            <div id="faq-list-{{ forloop.index }}" class="collapse show" data-parent=".faq-list">
              <p>
                {{ faq.content }}
              </p>
            </div>
          </li>
          {% endfor %}
        </ul>
        </div>
        </div>
    </section><!-- End Frequently Asked Questions Section -->
</main><!-- End #main -->
