---
layout: default
title: OpenC2
permalink: /
---

<!-- ======= Tags to Block Caching (for test purposes) ======= -->

<!--
  <meta http-equiv='cache-control' content='no-cache'> 
  <meta http-equiv='expires' content='0'> 
  <meta http-equiv='pragma' content='no-cache'>
-->

<!-- ======= Carousel Section ======= -->
<section id="hero">
  <div class="hero-container">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">
      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide 1 -->
        <div class="carousel-item active">
          <div class="carousel-container">
            <div class="carousel-content container">
              {% include_relative content/homepage/carousel/slide1.html %}
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item">
          <div class="carousel-container">
            <div class="carousel-content container">
              {% include_relative content/homepage/carousel/slide2.html %}
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item">
          <div class="carousel-container">
            <div class="carousel-content container">
              {% include_relative content/homepage/carousel/slide3.html %}
            </div>
          </div>
        </div>

        <!-- Slide 4 -->
        <div class="carousel-item">
          <div class="carousel-container">
            <div class="carousel-content container">
              {% include_relative content/homepage/carousel/slide4.html %}
            </div>
          </div>
        </div>

        <!-- Slide 5 -->
        <div class="carousel-item">
          <div class="carousel-container">
            <div class="carousel-content container">
              {% include_relative content/homepage/carousel/slide5.html %}
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon icofont-rounded-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon icofont-rounded-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container">
      <div class="section-title">
        <h2>Open Command and Control (OpenC2)</h2>
        <p class="section-subtitle"><em>Creating a standardized language for the command and control of technologies
            that
            provide or support cyber defenses.</em></p>
      </div>
      <div class="row" data-aos="fade-up">
        <div class="col-md-5">
          <img src="assets/img/vision.png" class="img-fluid" alt="">
        </div>
        <div class="col-md-6 pt-4">
          <h3>Vision</h3>
          <p>{% capture p1 %}{% include_relative content/homepage/vision.md %}{% endcapture %}{{ p1 | markdownify }}</p>
        </div>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-md-6 order-1 order-md-2">
          <img src="assets/img/attackspeed.png" class="img-fluid" alt="">
        </div>
        <div class="col-md-6 pt-3 order-2 order-md-1">
          <h3>Current Cyberdefense</h3>
          <p>
            {% capture p2 %}{% include_relative content/homepage/current-cyberdefense.md %}{% endcapture %}{{ p2 |
            markdownify }}
          </p>
        </div>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-md-6">
          <img src="assets/img/automate.png" class="img-fluid" alt="">
        </div>
        <div class="col-md-6 pt-3">
          <h3>OpenC2 for Defense in Cyber-Relevant Time</h3>
          <p>
            {% capture p3 %}{% include_relative content/homepage/defense-cybertime.md %}{% endcapture %}{{ p3 |
            markdownify }}
          </p>
        </div>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-md-6 order-1 order-md-2">
          <img src="assets/img/openc2-help.png" class="img-fluid" alt="">
        </div>
        <div class="col-md-6 pt-3 order-2 order-md-1">
          <h3>How can OpenC2 help?</h3>
          <p>
            {% capture p4 %}{% include_relative content/homepage/openc2-help.md %}{% endcapture %}{{ p4 | markdownify }}
          </p>
        </div>
      </div>

    </div>

    </div>
  </section><!-- End Features Section -->

  <!-- ======= Frequently Asked Questions Section ======= -->
  <section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Frequently Asked Questions</h2>
      </div>

      <div class="faq-list">
        <ul>
          <li data-aos="fade-up">
            <em class="bx bx-help-circle icon-help"></em> <a data-toggle="collapse" class="collapse"
              href="#faq-list-1">What is OpenC2?? <em class="bx bx-chevron-down icon-show"></em><em
                class="bx bx-chevron-up icon-close"></em></a>
            <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
              <p>
                OpenC2 is a standardized language for machine-to-machine communications for the command and control of
                technologies that provide or support cyber defenses. The <a
                  href="https://groups.oasis-open.org/communities/tc-community-home2?CommunityKey=a34c9baf-48b2-44c5-a567-018dc7d32296">OpenC2 Technical
                  Committee</a> is developing a suite of specifications that define the OpenC2 architecture, language,
                tailor its use to specific cyber-defense functions, and specify how to convey OpenC2 messages using
                various industry-standard transfer protocols.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <em class="bx bx-help-circle icon-help"></em> <a data-toggle="collapse" href="#faq-list-2"
              class="collapsed">How is the "suite" of OpenC2 Specifications organized?<em
                class="bx bx-chevron-down icon-show"></em><em class="bx bx-chevron-up icon-close"></em></a>
            <div id="faq-list-2" class="collapse" data-parent=".faq-list">
              <p>
                As described in the <a
                  href="https://docs.oasis-open.org/openc2/oc2arch/v1.0/oc2arch-v1.0.html"><em>OpenC2 Architecture
                    Specification</em></a>, there are multiple types of OpenC2 specifications, meant to be used in
                concert:</p>
              <ul>
                <li>
                  <p>The <a href="https://docs.oasis-open.org/openc2/oc2arch/v1.0/oc2arch-v1.0.html"><em>OpenC2
                        Architecture Specification</em></a> describes the fundamental structures of OpenC2.</p>
                </li>
                <li>
                  <p>The <a href="https://docs.oasis-open.org/openc2/oc2ls/v1.0/oc2ls-v1.0.html"><em>OpenC2 Language
                        Specification</em></a> provides the essential elements of the language, the structure for
                    Commands and Responses, and the mechanisms for extending the OpenC2 language.</p>
                </li>
                <li>
                  <p><a href="https://groups.oasis-open.org/communities/tc-community-home2?CommunityKey=a34c9baf-48b2-44c5-a567-018dc7d32296#technical"><strong>OpenC2
                        Actuator Profiles</strong></a> specify the subset of the OpenC2 language relevant in the context
                    of specific actuator functions (e.g., <a
                      href="https://docs.oasis-open.org/openc2/oc2slpf/v1.0/oc2slpf-v1.0.html">packet filtering</a>,
                    honeypots).</p>
                </li>
                <li>
                  <p><a href="https://groups.oasis-open.org/communities/tc-community-home2?CommunityKey=a34c9baf-48b2-44c5-a567-018dc7d32296#technical"><strong>OpenC2
                        Transfer Specifications</strong></a> utilize existing protocols and standards (e.g., <a
                      href="https://docs.oasis-open.org/openc2/open-impl-https/v1.1/cs01/open-impl-https-v1.1-cs01.html">HTTPS</a>,
                    <a href="https://docs.oasis-open.org/openc2/transf-mqtt/v1.0/transf-mqtt-v1.0.html">MQTT</a>) to
                    implement OpenC2 message transfer in specific environments.
                  </p>
                </li>
              </ul>

              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="150">
            <em class="bx bx-help-circle icon-help"></em> <a data-toggle="collapse" href="#faq-list-3"
              class="collapsed">What can OpenC2 do for me? <em class="bx bx-chevron-down icon-show"></em><em
                class="bx bx-chevron-up icon-close"></em></a>
            <div id="faq-list-3" class="collapse" data-parent=".faq-list">
              <p>
                As cyber-defense technology vendors and providers adopt OpenC2, OpenC2 can dramatically improve incident
                response to cyber-threats and allow for enterprise wide interoperability for cyber-security policy
                orchestration. Management and development of cyber-defense responses is simplified and greater
                collaboration and integration across a wide range of technologies is enabled.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <em class="bx bx-help-circle icon-help"></em> <a data-toggle="collapse" href="#faq-list-4"
              class="collapsed">What is JADN?<em class="bx bx-chevron-down icon-show"></em><em
                class="bx bx-chevron-up icon-close"></em></a>
            <div id="faq-list-4" class="collapse" data-parent=".faq-list">
              <p>
                <a href="https://docs.oasis-open.org/openc2/jadn/v1.0/cs01/jadn-v1.0-cs01.html">JSON Abstract Data
                  Notation (JADN)</a> is a UML-based information modeling language that defines information requirements
                and data structure independently of data format. JADN was created by the OpenC2 TC to assist with
                defining OpenC2 information models for the language and actuator profiles in a way that supports the
                language's goal of enabling machine-to-machine communications for purposes of command and control of
                cyber defense components, subsystems and/or systems in a manner that is agnostic of the serialization
                formats.
              </p>
            </div>
          </li>


          <li data-aos="fade-up" data-aos-delay="200">
            <em class="bx bx-help-circle icon-help"></em> <a data-toggle="collapse" href="#faq-list-4"
              class="collapsed">How can I access OpenC2 and JADN?<em class="bx bx-chevron-down icon-show"></em><em
                class="bx bx-chevron-up icon-close"></em></a>
            <div id="faq-list-4" class="collapse" data-parent=".faq-list">
              <p>
                OASIS Specifications are open for all to use. The TC's <a
                  href="https://groups.oasis-open.org/communities/tc-community-home2?CommunityKey=a34c9baf-48b2-44c5-a567-018dc7d32296">home page at OASIS</a> lists
                the <a href="https://groups.oasis-open.org/communities/tc-community-home2?CommunityKey=a34c9baf-48b2-44c5-a567-018dc7d32296#technical">officially
                  published specifications</a>. This website includes a list of all <a
                  href="https://openc2.org/openc2-org.github.io/specifications.html">OpenC2 specifications (published
                  and under development)</a>, and a collection of <a
                  href="https://openc2.org/openc2-org.github.io/opensource.html">open source software tooling</a> to add
                in implementing OpenC2.
              </p>
            </div>
          </li>

        </ul>
      </div>

      <div class="centerText">
        <a rel="noopener noreferrer" href="{{ site.baseurl }}/faqs.html"
          class="btn-green animate__animated animate__fadeInUp scrollto">View More</a>
      </div>
    </div>
  </section><!-- End Frequently Asked Questions Section -->

</main><!-- End #main -->