<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Vendor JS Files -->
<script src="{{ site.baseurl }}/assets/vendor/jquery/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="{{ site.baseurl }}/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="{{ site.baseurl }}/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
<script src="{{ site.baseurl }}/assets/vendor/aos/aos.js"></script>

<!-- Template Main JS File -->
<script src="{{ site.baseurl }}/assets/js/main.js"></script>

<!-- Credits: Vector Images by www.freepik.com -->