<!-- ======= Navigation ======= -->
<header id="header">
    <div class="container">

      <div class="logo float-left">
        <a href="/index.html"><img width="200px" height="45px" src="/assets/img/logo.svg" alt="" class="img-fluid"></a>
      </div>

      <nav class="nav-menu float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="/index.html">Home</a></li>
          <li class="drop-down"><a href="">About</a>
            <ul>
              <li><a href="/oasis.html">OASIS</a></li>
              <li><a href="/otc.html">OASIS OpenC2 Technical Committee</a></li>
              <li><a href="/openc2.html">This Website</a></li>
            </ul>
          </li>
          <li class="drop-down"><a href="">Resources</a>
            <ul>
              <li><a href="/opensource.html">Open Source Software</a></li>
              <li><a href="/specifications">Specifications</a></li>
              <li><a href="/faq.html">Frequently Asked Questions</a></li>
              <li><a href="/otherdocumentation.html">Other Documentation</a></li>
            </ul>
          </li>
          <li><a href="/joinus.html">Join Us</a></li>
          <li><a href="/contact.html">Contact</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Navigation -->